* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: none;
  font-family: "inter", sans-serif;
  font-size: 16px;
  position: relative;
}

header {
  width: 100%;
  height: 7.625rem;
  background-color: #ff9345d8;
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 3.625rem;
}
h1 {
  font-size: 1.625rem;
  color: #fff;
}

.arrow-back {
  width: 2.625rem;
  height: 2.625rem;
}

.language-selector {
  width: 5.4375rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 5.4375rem;
  height: 2.125rem;
  border-radius: 7px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  background-color: #f6f6f6;
}

.option {
  position: absolute;
  bottom: 2.5rem;
  cursor: pointer;
}

.flag {
  width: 1.6875rem;
  height: 1.6875rem;
}

main {
  margin-top: 2.1875rem;
  padding: 0 10px;
}

h2 {
  font-size: 1.375rem;
  color: #006770;
  font-weight: bold;
}
.table-section h2 {
  margin-left: 15px;
}

.table {
  display: flex;
  margin-top: 0.875rem;
  flex-flow: column;
  background-color: #fffbe8;
}

.first-column {
  display: flex;
  justify-content: space-between;
  background-color: #fff3b5;
  height: 2rem;
  border-radius: 10px 10px 0 0;
  align-items: center;
}

.second-column {
  display: flex;
  justify-content: space-between;
  height: 3.75rem;
  align-items: center;
}
.third-column {
  display: flex;
  justify-content: space-between;
  background-color: #fff3b5;
  height: 3.75rem;
  align-items: center;
}
.fourth-column {
  display: flex;
  justify-content: space-between;
  height: 3.75rem;
  align-items: center;
}
.fifth-column {
  display: flex;
  justify-content: space-between;
  background-color: #fff3b5;
  height: 4.75rem;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.texto {
  margin-left: 16px;
}
.months {
  margin-right: 25px;
}
.month {
  margin-right: 68px;
}
.duration {
  margin-right: 76px;
}

.registration-section {
  margin-top: 2.75rem;
  padding: 0 18px;
  display: flex;
  flex-flow: column;
}
.registration-section h2 {
  margin-bottom: 0.24rem;
  font-size: 22px;
}

.all-steps {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: column;
}

.steps {
  display: flex;
  gap: 8px;
  align-items: center;
}

.circule-shape {
  background-color: #00ac98;
  min-width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  align-content: center;
}

.description {
  font-size: 15px;
}

.rectangule-shape {
  width: 0.4375rem;
  height: 2.7rem;
  background-color: #00ac98;
  margin-left: 19px;
}

.diferent {
  background-color: #006770;
}

.location-section {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

#location {
  width: 18.95rem;
  border: solid 2px #f7ca00;
  border-radius: 15px;
  box-shadow: 0 4px 7.1px 0;
  display: flex;
  flex-flow: column;
  padding: 12px 10px 10px 10px;
}

#location-text {
  display: flex;
  flex-flow: column;
  font-size: 15px;
  margin-left: 0.3125rem;
}

#location-text h4 {
  font-size: 1rem;
}

#contact {
  display: flex;
  margin-top: 0.8125rem;
  gap: 15px;
}

.map {
  margin-top: 0.8rem;
}

.policies-section {
  display: flex;
  flex-flow: column;
  margin-top: 3.75rem;
  padding: 10px;
}

.policies-section h2 {
  margin-left: 18px;
  margin-bottom: 1rem;
}

.policies-section p {
  font-size: 0.9375rem;
  margin-top: 0.4375rem;
}

.arrow-down {
  width: 1.1875rem;
  height: 0.7325rem;
  margin-right: 22px;
  cursor: pointer;
}

.arrow-up {
  width: 1.1875rem;
  height: 0.7325rem;
  margin-right: 22px;
  cursor: pointer;
}

ol {
  padding-left: 26px;
}

hr {
  margin: 15px 0;
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

ul {
  list-style: none;
  margin-top: 0.4375rem;
  padding-left: 1rem;
}
ul li {
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.5rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: black;
  border-radius: 50%;
}

.instructors {
  margin-top: 2.4375rem;
  padding: 0 37px;
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
}

.instructors h2 {
  margin-bottom: 1rem;
}

.scroll {
  cursor: pointer;
}

.teachers {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.9375rem;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 4.8125rem;
  height: 4.8125rem;
  border-radius: 50%;
  object-fit: cover;
}

.background {
  display: flex;
  gap: 1.0625rem;
  margin-bottom: 15px;
  background-color: #f2fcfb;
  border: solid #99ded6;
  border-width: 2px 2px 2px 0;
  width: 20.75rem;
  height: 4.8125rem;
  align-items: center;
  border-radius: 38.5px;
  box-shadow: 0 4px 4px 0 #00000025;
}

.hidden {
  display: none;
}

.animation {
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: height 0.5s ease, opacity 0.5s ease;
}

footer {
  background-color: #00464d;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 22px 0;
  gap: 18px;
  margin-top: 3.125rem;
  min-width: 100%;
}

footer hr {
  border-color: #fff;
  width: 100%;
}

.footer-links {
  margin-left: 19px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.footer-links:hover {
  text-decoration: underline;
}

.colaborativa-logo {
  width: 12.9275rem;
  height: 3.625rem;
  margin-bottom: 22px;
}

.links {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 14px;
  min-width: 100%;
}

.all-logos {
  display: flex;
  align-items: center;
  margin-top: 33px;
  gap: 2.1875rem;
}

.logo {
  height: 3rem;
  margin: 33px 0;
}

.last-text {
  margin-top: 32px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 16px;
}

@media (min-width: 768px) {
  .arrow-back {
    display: none;
  }

  header {
    flex-flow: column;
    gap: 5px;
    padding: 20px 30px 0 30px;
    height: 12.5rem;
    box-shadow: 0 8px 20px -2px #00000025;
  }

  .enunciado {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .logo-principal {
    max-width: 16.25rem;
    max-height: 4.5rem;
  }

  .header-links {
    display: flex;
    gap: 36px;
  }

  .header-text {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .header-text:hover {
    text-decoration: underline;
  }
  h1 {
    font-size: 2.8125rem;
  }

  main {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }

  .table {
    width: 48.625rem;
    margin-top: 1.25rem;
  }

  .first-column {
    height: 3.625rem;
  }

  .second-column {
    height: 5.4375rem;
  }

  .third-column {
    height: 5.5rem;
  }

  .fourth-column {
    height: 5.4375rem;
  }
  .fifth-column {
    height: 8rem;
  }

  h5 {
    font-size: 1.6875rem;
  }

  .table p {
    font-size: 1.6875rem;
  }
  .table-section h2 {
    margin-top: 2.5rem;
  }

  h2 {
    font-size: 2.375rem;
  }

  .registration-section {
    padding: 0;
    gap: 0;
  }

  .registration-section h2 {
    font-size: 2.375rem;
  }

  .follow {
    font-size: 1.6875rem;
  }

  .all-steps {
    flex-flow: row;
    align-items: center;
    justify-content: center;
    counter-reset: lista;
  }

  .steps {
    flex-flow: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    width: 6.7rem;
    margin-top: 1.625rem;
  }

  .circule-shape {
    width: 6.875rem;
    height: 6.875rem;
    font-size: 2.625rem;
    font-weight: bold;
    align-items: center;
  }

  .rectangule-shape {
    width: 8rem;
    height: 1.125rem;
    margin: 0;
    margin-bottom: 70px;
  }

  .description {
    width: 12rem;
    height: 5rem;
    margin-top: 20px;
    counter-increment: lista;
    position: relative;
    padding-left: 1rem;
  }

  .description::before {
    content: counter(lista) ".";
    position: absolute;
    left: 0;
    color: black;
    font-weight: bold;
  }

  .location-section {
    margin-top: 4rem;
  }

  #location {
    flex-flow: row;
    width: 41.125rem;
    border-radius: 20px;
    border: solid 3px #f7ca00;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 48px;
  }

  #contact {
    flex-flow: column;
    gap: 5px;
  }

  .map {
    margin: 0;
  }

  iframe {
    width: 19.5625rem;
    height: 15.4375rem;

    border-radius: 0 20px 20px 0;
  }

  .policies-section {
    margin-top: 6rem;
    padding: 0 80px;
  }

  .policies-section h2 {
    margin-bottom: 1rem;
  }

  .policies-section h4 {
    font-size: 1.2rem;
  }

  .parrafo {
    text-align: start;
    line-height: 2;
  }

  ul li::before {
    top: 0.8rem;
  }

  .instructors {
    margin-top: 5rem;
  }

  .instructors h2 {
    margin-bottom: 1rem;
  }

  .teachers {
    margin-top: 10rem;
    width: 61.75rem;
    height: 12rem;
    background-color: #f2fcfb;
    border: 3px solid #9bd7d5;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    flex-flow: row;
    justify-content: space-around;
  }

  .background {
    width: auto;
    height: auto;
    flex-flow: column;
    background: none;
    position: relative;
    bottom: 6.2rem;
    border: none;
    box-shadow: none;
  }

  .img {
    width: 10.985625rem;
    height: 10.985625rem;
  }

  footer {
    margin-top: 3rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    text-align: center;
  }
  footer hr {
    display: none;
  }
  .colaborativa-logo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 45px 45px;
    justify-self: left;
  }
  .links {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: self-start;
    gap: 1.6rem;
    margin-top: 45px;
    padding: 0;
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .footer-links {
    justify-content: center;
    color: #eee;
    font-size: 1.25rem;
    text-decoration: none;
  }
  .all-logos {
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 0;
    justify-self: end;
    align-self: center;
    margin-right: 45px;
  }
  .logo {
    height: 2.448125rem;
  }
  .footer-last-text {
    grid-column: 1/4;
    grid-row: 2/3;
    align-self: center;
    justify-content: center;
    text-align: center;
  }
  .last-text {
    margin: 0;
    font-size: 1.375rem;
  }
}
